<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>vslanguee</title>
	<link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body id="index" class="home">
	<header id="banner" class="body">
		<h1><a href="/">vslanguee</a></h1>
        <!-- {% include navigation.html %} -->
	</header>

	<!-- INFO -->
    {{ content }}

	<!-- FOOTER -->
	<footer id="contentinfo" class="body">
		<address id="about" class="vcard body">
			Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of
			<a href="http://python.org">Python</a>.
		</address><!-- /#about -->

		<p>The theme is inspired by <a
				href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing
				Magazine</a>, thanks!
		</p>
	</footer><!-- /#contentinfo -->
	
</body>

</html>